* {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 500;
    color: rgb(165, 168, 167);
    background-color: rgb(219, 108, 108);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    
}
h1 { 
    width: 550px;
    height: 50px
}
.paragrafo2{
    font-size: 20px;
    color: black;
    width: 400px;
    height: 400px ;
    margin-left: auto;
    margin-right: auto;
}

    body{
        flex-direction: column-reverse;
    }

    div {
        background-color: aliceblue;
        width: 412px;
        height: 412px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;   
    }
    img/Coding.jpg{
        portifoli

    }